<mat-nav-list>
  <h3 mat-subheader>Menú</h3>

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>

  <a mat-list-item routerLink="/dashboard/students" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" *ngIf="(user$ | async)?.role === 'ADMIN'">
    <mat-icon>people</mat-icon>
    <span>Estudiantes</span>
  </a>

  <a mat-list-item routerLink="/dashboard/courses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <mat-icon>school</mat-icon>
    <span>Cursos</span>
  </a>

  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </a>

  </mat-nav-list>


