<mat-nav-list>
  <h3 mat-subheader>Menú</h3>

  <a mat-list-item routerLink="/estudiantes" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Estudiantes</span>
  </a>

  
  <!-- TBD -->
  <!--
  <a mat-list-item routerLink="/cursos" routerLinkActive="active">
    <mat-icon>school</mat-icon>
    <span>Cursos</span>
  </a>

  <a mat-list-item routerLink="/usuarios" routerLinkActive="active">
    <mat-icon>manage_accounts</mat-icon>
    <span>Usuarios</span>
  </a>
  -->
</mat-nav-list>

